<!doctype html>
<html lang=en >
<head>
<title>Cat Example</title>
<meta charset=utf-8 />
</head>
<body>
<script src="http://js.leapmotion.com/leap-0.6.3.js"></script>
<script src="http://js.leapmotion.com/leap-plugins-0.1.8.js"></script>
<script>

	document.body.style.cssText = ' font: bold 12pt monospace; ';

	var info = document.body.appendChild( document.createElement( 'div' ) );
	info.innerHTML = '<a href="" ><h1>' + document.title + '</h1></a>' +
		'<div id=msg0 ></div>' +
		'<div id=handData ></div>' +
		'<div id=fingerData ></div>' +
	'';

	var cats = {};
	var fingerlings = {};

	var lp = Leap.loop( updateFrame );
	lp.use( 'screenPosition', { scale: 0.25 } ); // use = plugin

	function updateFrame( frame ) {

		frame.hands.forEach( function( hand, index ) {
//			m = document.getElementById( 'msg' + index );
//			m.innerHTML = hand.screenPosition(); 
//			msg1.innerHTML = hand.toString();
//			msg2.innerHTML = hand.palmPosition[0] + ' ' + hand.palmPosition[1] + ' ' + hand.palmPosition[2];
// console.log( hand )
			var cat = ( cats[index] || (cats[index] = new Cat()) );    
			cat.setTransform( index, hand.screenPosition(), hand.roll() );
		});

		frame.fingers.forEach( function( finger, index ) {

			var fingerling = ( fingerlings[index] || ( fingerlings[index] = new Fingerling() ) );  
			fingerling.outputData( index, finger.tipPosition, finger.direction );
// console.log( finger )

		});

	}

	var Cat = function() {
		var cat = this;
		var msg = handData.appendChild( document.createElement( 'div' ) );

		var img = document.createElement('img');
		img.src = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/109794/cat_2.png';
		img.style.position = 'absolute';
		img.onload = function () {

			cat.setTransform( [ window.innerWidth/2, window.innerHeight/2 ], 0);
			document.body.appendChild(img);

		}

		cat.setTransform = function( index, position, rotation ) {

			msg.innerHTML = 'hand: ' + index + ' - ' + position + ' - ' +rotation;

			img.style.left = position[0] - img.width  / 2 + 'px';
			img.style.top  = position[1] - img.height / 2 + 'px';
			img.style.transform = 'rotate(' + -rotation + 'rad)';
			img.style.webkitTransform = img.style.MozTransform = img.style.msTransform = img.style.OTransform = img.style.transform;

		};

	};

	var Fingerling = function() {

		var fingerling = this;
		var msg = fingerData.appendChild( document.createElement( 'div' ) );

		fingerling.outputData = function( index, position, rotation ) {

			msg.innerHTML = 'finger: ' + index + ' - ' + position + ' - ' +rotation;

		}
	}

	cats[0] = new Cat();

	fingerlings[0] = new Fingerling();

// This allows us to move the cat even whilst in an iFrame.
	Leap.loopController.setBackground(true)

</script>
</body>
</html>